html,
body {
  height: 100%;
  margin: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  position: relative;
}

.footer {
  padding: 10px 0; /* Adjust the padding to reduce the height */
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
  /* Other existing styles */
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid--footer {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.white-text {
  color: #ffffff;
}

.content-wrap {
  /* flex: 1; */
  position: relative;
  z-index: 1;
}

.footer-heading {
  font-weight: bold;
}

.footer-link-col {
  display: flex;
  flex-direction: column;
}
/*
.socal-icon {
  color: #ffffff;
} */
